%img.mx-2.profile-image.img-fluid.float-start.rounded-circle{:alt => "profile image", :src => "assets/images/tonia.jpeg"}/

%strong Tonia Reinys Fox, MD
has 23 years of Emergency Medicine experience,
including trauma-heavy training and practice in public, private,
community, and VA System hospitals, where she served for 3.5 years as Emergency
Department Chief.
She has 4 years of EMS experience in the Colorado Rockies and has
served as Antarctica/Southern Ocean Expedition Physician (5 times) and
Applegate Open Medical Advisor (2 times).
