#carouselExampleControls.carousel.carousel-fade.slide{"data-bs-ride" => "carousel", "data-bs-interval" => 3000}
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{:alt => "photo 0", :src => "assets/images/0.jpg"}/
    - (1..5).each do |num|
      .carousel-item
        %img.d-block.w-100{:alt => "photo #{num}", :src => "assets/images/#{num}.jpg"}

  %button.carousel-control-prev{"data-slide" => "prev", "data-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-slide" => "next", "data-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next

/ //item
