%p.lead.bg-light.rounded.p-2.my-2.alert.alert-danger
  %strong
    Free flight pilots: learn how to respond in an
    emergency until professional help arrives.

%p
  The course consists of 90 minutes of instructional videos divided into six modules,
  plus a three-hour in-person workshop for hands-on instruction and practice of the procedures.
  

%ol
  %li Introduction
  %li Injury Patterns in Free Flight
  %li Calling For Help & Organizing the Rescue
  %li The Primary Assessment: M.A.R.C.H.
  %li Spinal & Head Injuries
  %li Extremity Injuries, Splinting, and Packing Your First Aid  Kit


