%footer.footer
  .container.text-center
    / /* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */
    %small.copyright
      Site contents &copy; 2021-2022 by Tonia Reinys Fox, all rights reserved.
      Template designed with
      %i.fas.fa-heart
      by
      %a{:href => "https://themes.3rdwavemedia.com", :target => "_blank"} Xiaoying Riley
      for developers
