%header.header
  .container
    .row.align-items-center
      .col
        %img.profile-image.img-fluid.float-start.rounded-circle{:alt => "profile image", :src => "assets/images/FreeFlightCourse-LogoWhite.png"}/
        .profile-content
          %h1.name Free Flight First Aid Course
          %h2.desc Tonia Reinys Fox, MD, P4
        / //profile
      / //col
      .col-12.col-md-auto
        %a.btn.btn-cta-primary{:href => "mailto:tonia@freeflightfirstaid.cloud?subject=Interest%20in%20Free%20Flight%20First%20Aid%20Course", :target => "_blank"}
          %i.fas.fa-paper-plane
          Contact
      / //col
    / //row
  / //container
/ //header
