%aside.languages.aside.section
  .section-inner.shadow-sm.rounded
    %h2.heading Languages
    .content
      %ul.list-unstyled
        %li.item
          %span.title
            %strong English:
          %span.level
            Native Speaker
            %br.visible-xs/
            %i.fas.fa-star
            %i.fas.fa-star
            %i.fas.fa-star
            %i.fas.fa-star
            %i.fas.fa-star
        / //item
        %li.item
          %span.title
            %strong Spanish:
          %span.level
            Professional Proficiency
            %br.visible-sm.visible-xs/
            %i.fas.fa-star
            %i.fas.fa-star
            %i.fas.fa-star
            %i.fas.fa-star-half
        / //item
    / //content
  / //section-inner
/ //section
