%p
  %a.more-link{:href => "https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/", :target => "_blank"}
    %i.fas.fa-external-link-alt>
    Find out more
