.testimonials
  .item
    %blockquote.quote
      %p
        %i.fas.fa-quote-left
        Having the videos really maximized our use of time in the hands-on seminar.
        The instruction specifically targeted hang gliding and
        paragliding accidents.  Tonia's clinic can help all
        pilots&#8212;young 
        and old, new and experienced&#8212;learn how to administer
        appropriate on-site medical care.  I highly recommend it.
    %p.source
      %span.name Dan Z.
      %br/
      %span.title Safety Coordinator, Wings of Rogallo, SF Bay Area, California

  .item
    %blockquote.quote
      %p
        %i.fas.fa-quote-left
        While nobody plans on having a flying accident or being on the
        scene when a flying accident happens,
        we are one another's first responders. We need to
        know what to do.  
        Tonia's clinic will instill the confidence to be able to offer
        immediate, intelligent care to our flying buddies in case of
        an accident. 
    %p.source
      %span.name Rick Ray
      %br/
      %span.title 
        Safety Officer (2011-2018) and current Board member, Rogue
        Valley Hang Gliding & Paragliding Association, Oregon



