.testimonials
  .item
    %blockquote.quote
      %p
        %i.fas.fa-quote-left
        Having the videos really maximized our use of time in the hands-on seminar.
        The instruction specifically targeted hang gliding and
        paragliding accidents.  Tonia's clinic can help all pilots -
        young and old, new and experienced - learn how to administer
        appropriate on-site medical care.  I highly recommend it.
    %p.source
      %span.name Dan Z.
      %br/
      %span.title Safety Coordinator, Wings of Rogallo, SF Bay Area, California
