<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/fox/Desktop/fffa/FFFA-Leader.mp4</key>
	<data>
	Ym9va9wCAAAAAAQQMAAAAPtb255rPWNMNMqvn4rhvmDMDgpsOwcdWoovbn31DA8B2AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDwAAAAEBAABGRkZBLUxlYWRlci5tcDQAFAAAAAEGAAAQ
	AAAAIAAAACwAAAA8AAAASAAAAAgAAAAEAwAAT1MAAAAAAAAIAAAABAMAAJ7xEAAAAAAA
	CAAAAAQDAABfPhoAAAAAAAgAAAAEAwAAedbgAwAAAAAIAAAABAMAAMBv4QMAAAAAFAAA
	AAEGAAB8AAAAjAAAAJwAAACsAAAAvAAAAAgAAAAABAAAQcOuAV0AAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPYBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBwj+nmMSrQSQAAAABAQAANkQwRTZEODItMjVFRi00Qjc4LUJCRkEtRDNE
	M0RGOTE4ODFBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAGAAAAAAAAAABRAAAMwAAAAA
	AAAAEBAAAPgAAAAAAAAAQBAAAOgAAAAAAAAAAiAAAMQBAAAAAAAABSAAADQBAAAAAAAA
	ECAAAEQBAAAAAAAAESAAAHgBAAAAAAAAEiAAAFgBAAAAAAAAEyAAAGgBAAAAAAAAICAA
	AKQBAAAAAAAAMCAAANABAAAAAAAAAcAAABgBAAAAAAAAEcAAACAAAAAAAAAAEsAAACgB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/fox/Desktop/fffa/IMG_6027.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAADKnqvnuiT2YbEy9TMMA5s83/Wh1t2sxs9kpJVqbOrI+1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDAAAAAEBAABJTUdfNjAyNy5NT1YUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAms3gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jg/kAhgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/IMG_6028.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAOTxJDiWugcV8SY0JkcByY7TI9q24XDMqROvHsiJyH/y1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDAAAAAEBAABJTUdfNjAyOC5NT1YUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAm83gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jhBhahgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/IMG_6031.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAFBKl9+SF0EqV9j1JDVOtyUIKPYkCrm38SgA5AsXWxVx1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDAAAAAEBAABJTUdfNjAzMS5NT1YUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAnM3gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jhCCtRgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/IMG_6053.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAK0tlQ2rgGA92mnKKDi3TxVkSbnMJEIWTdyI+u966ggq1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDAAAAAEBAABJTUdfNjA1My5NT1YUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAnc3gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jhDj+RgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/avpu.png</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAC2IOJrQ53AyaWgkWHi0A3MhWhmZx+jHP4HkYJUjscqx0AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCAAAAAEBAABhdnB1LnBuZxQAAAABBgAAEAAAACAAAAAs
	AAAAPAAAAEgAAAAIAAAABAMAAE9TAAAAAAAACAAAAAQDAACe8RAAAAAAAAgAAAAEAwAA
	Xz4aAAAAAAAIAAAABAMAAHnW4AMAAAAACAAAAAQDAACPbOEDAAAAABQAAAABBgAAdAAA
	AIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHDvySoBpB5GAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcI/p5jEq0EkAAAAAQEAADZEMEU2RDgyLTI1RUYtNEI3OC1CQkZBLUQzRDNERjkxODgx
	QRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABYAAAAAAAAAAUQAADEAAAAAAAAABAQAADw
	AAAAAAAAAEAQAADgAAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
	<key>/Users/fox/Desktop/fffa/firstaidkit.png</key>
	<data>
	Ym9va9wCAAAAAAQQMAAAAGBDSTMVDSquO/DLuxr6wzpyb1/ggCdk5mS9LaVqzdM/2AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhDwAAAAEBAABmaXJzdGFpZGtpdC5wbmcAFAAAAAEGAAAQ
	AAAAIAAAACwAAAA8AAAASAAAAAgAAAAEAwAAT1MAAAAAAAAIAAAABAMAAJ7xEAAAAAAA
	CAAAAAQDAABfPhoAAAAAAAgAAAAEAwAAedbgAwAAAAAIAAAABAMAAEhq4QMAAAAAFAAA
	AAEGAAB8AAAAjAAAAJwAAACsAAAAvAAAAAgAAAAABAAAQcO/JDaf5LIYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPYBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBwj+nmMSrQSQAAAABAQAANkQwRTZEODItMjVFRi00Qjc4LUJCRkEtRDNE
	M0RGOTE4ODFBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAGAAAAAAAAAABRAAAMwAAAAA
	AAAAEBAAAPgAAAAAAAAAQBAAAOgAAAAAAAAAAiAAAMQBAAAAAAAABSAAADQBAAAAAAAA
	ECAAAEQBAAAAAAAAESAAAHgBAAAAAAAAEiAAAFgBAAAAAAAAEyAAAGgBAAAAAAAAICAA
	AKQBAAAAAAAAMCAAANABAAAAAAAAAcAAABgBAAAAAAAAEcAAACAAAAAAAAAAEsAAACgB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/fox/Desktop/fffa/goals.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAFq8MWYiNoXrPvuZ1Wzeg1NxLMJrwegPL6cWKgbW/67M1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCQAAAAEBAABnb2Fscy5wbmcAAAAUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAzmzhAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw78k2NM+tBgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/helmet.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAMVSrKdcgE38Selr1sAu0D4l/mwLrBGtRPw4XpCeZ23M1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCgAAAAEBAABoZWxtZXQuTU9WAAAUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAm83gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jhBhahgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/helmet.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAALDR3OglrvEjSPK8gPGYL9sCX+kJXJhvQR6s0kkdc9Bp1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCgAAAAEBAABoZWxtZXQucG5nAAAUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAANGzhAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw78keSTO1BgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/limitedresources.png</key>
	<data>
	Ym9va+ACAAAAAAQQMAAAAFgw+TLEQrZlOs7sO3rfgrhTEUXAk/eQ5H4sm4jaXBwg3AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhFAAAAAEBAABsaW1pdGVkcmVzb3VyY2VzLnBuZxQAAAAB
	BgAAEAAAACAAAAAsAAAAPAAAAEgAAAAIAAAABAMAAE9TAAAAAAAACAAAAAQDAACe8RAA
	AAAAAAgAAAAEAwAAXz4aAAAAAAAIAAAABAMAAHnW4AMAAAAACAAAAAQDAAByieEDAAAA
	ABQAAAABBgAAgAAAAJAAAACgAAAAsAAAAMAAAAAIAAAAAAQAAEHDvy3yLwf6GAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD2
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
	dAAAAAgAAAAABAAAQcI/p5jEq0EkAAAAAQEAADZEMEU2RDgyLTI1RUYtNEI3OC1CQkZB
	LUQzRDNERjkxODgxQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAADQ
	AAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAAAAIgAADIAQAAAAAAAAUgAAA4AQAA
	AAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIgAABcAQAAAAAAABMgAABsAQAAAAAA
	ACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAcAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAsAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/fox/Desktop/fffa/logroll.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAOGEgaaKBTHeSpVS8SZXsyC5r2jLiJ8LMI+8l2LvR8Mw1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCwAAAAEBAABsb2dyb2xsLnBuZwAUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAABYPhAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw78q5FgkXRgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Desktop/fffa/roll.MOV</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAB6Isl21jS8Nx3O3KQjeT6L6HKbpnUmzljR5kPFrAHoD0AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCAAAAAEBAAByb2xsLk1PVhQAAAABBgAAEAAAACAAAAAs
	AAAAPAAAAEgAAAAIAAAABAMAAE9TAAAAAAAACAAAAAQDAACe8RAAAAAAAAgAAAAEAwAA
	Xz4aAAAAAAAIAAAABAMAAHnW4AMAAAAACAAAAAQDAACczeADAAAAABQAAAABBgAAdAAA
	AIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHDvnuOEIK1GAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcI/p5jEq0EkAAAAAQEAADZEMEU2RDgyLTI1RUYtNEI3OC1CQkZBLUQzRDNERjkxODgx
	QRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABYAAAAAAAAAAUQAADEAAAAAAAAABAQAADw
	AAAAAAAAAEAQAADgAAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
	<key>/Users/fox/Desktop/fffa/sling.MOV</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAOwtc+tShU7isbex3pAiiSUwZjxa1cmYnBt4QDC+DupU1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAHAAAAAQEAAERl
	c2t0b3AABAAAAAEBAABmZmZhCQAAAAEBAABzbGluZy5NT1YAAAAUAAAAAQYAABAAAAAg
	AAAALAAAADwAAABIAAAACAAAAAQDAABPUwAAAAAAAAgAAAAEAwAAnvEQAAAAAAAIAAAA
	BAMAAF8+GgAAAAAACAAAAAQDAAB51uADAAAAAAgAAAAEAwAAnc3gAwAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBw757jhDj+RgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5
	MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAXAAAAAAAAAAFEAAAyAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/fox/Google Drive (armandofox@gmail.com)/Temporary/FFFA-Leader-new.mp4</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAAIXPa9hSEgihTPJefUp5Zg0mYvZGAy//GgKvc5GeXoLAAAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGZveAAjAAAAAQEAAEdv
	b2dsZSBEcml2ZSAoYXJtYW5kb2ZveEBnbWFpbC5jb20pAAkAAAABAQAAVGVtcG9yYXJ5
	AAAAEwAAAAEBAABGRkZBLUxlYWRlci1uZXcubXA0ABQAAAABBgAAEAAAACAAAAAsAAAA
	WAAAAGwAAAAIAAAABAMAAE9TAAAAAAAACAAAAAQDAACe8RAAAAAAAAgAAAAEAwAAP04d
	AAAAAAAIAAAABAMAAFyscgMAAAAACAAAAAQDAABpdOEDAAAAABQAAAABBgAApAAAALQA
	AADEAAAA1AAAAOQAAAAIAAAAAAQAAEHDvyZ+AAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcI/
	p5jEq0EkAAAAAQEAADZEMEU2RDgyLTI1RUYtNEI3OC1CQkZBLUQzRDNERjkxODgxQRgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADM
	AAAA/v///wEAAAAAAAAAEAAAAAQQAACIAAAAAAAAAAUQAAD0AAAAAAAAABAQAAAgAQAA
	AAAAAEAQAAAQAQAAAAAAAAIgAADsAQAAAAAAAAUgAABcAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABAAQAAAAAAABHAAAAgAAAAAAAAABLAAABQAQAAAAAAABDQAAAE
	AAAAAAAAAA==
	</data>
	<key>/private/tmp/FFFA-Leader-new.png</key>
	<data>
	Ym9va1QCAAAAAAQQMAAAAGoYnn4KH/ayalLgH7v8Ukzq/mPg28g0Dn/fZBL6GzMQdAEA
	AAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0ZQADAAAAAQEAAHRtcAATAAAAAQEAAEZG
	RkEtTGVhZGVyLW5ldy5wbmcADAAAAAEGAAAQAAAAIAAAACwAAAAIAAAABAMAADynkwMA
	AAAACAAAAAQDAACI+pMDAAAAAAgAAAAEAwAAJn3hAwAAAAAMAAAAAQYAAFwAAABsAAAA
	fAAAAAgAAAAABAAAQcO/KH68uxcYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAA
	AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQA
	AAAIAAAAAAQAAEHCP6eYxKtBJAAAAAEBAAA2RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1E
	M0QzREY5MTg4MUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAA
	AAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAFIAAA0AAAAAAA
	AAAQIAAA4AAAAAAAAAARIAAAFAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAg
	IAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/private/tmp/FFFA-trailer.png</key>
	<data>
	Ym9va1ACAAAAAAQQMAAAAHXnYZx0e4wDadyXTF0631nin1d2P2kNuXjBGyaxwdnRcAEA
	AAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0ZQADAAAAAQEAAHRtcAAQAAAAAQEAAEZG
	RkEtdHJhaWxlci5wbmcMAAAAAQYAABAAAAAgAAAALAAAAAgAAAAEAwAAPKeTAwAAAAAI
	AAAABAMAAIj6kwMAAAAACAAAAAQDAACfhuEDAAAAAAwAAAABBgAAWAAAAGgAAAB4AAAA
	CAAAAAAEAABBw78qeULyyBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
	AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgA
	AAAABAAAQcI/p5jEq0EkAAAAAQEAADZEMEU2RDgyLTI1RUYtNEI3OC1CQkZBLUQzRDNE
	RjkxODgxQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAA
	ABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABcAQAAAAAAAAUgAADMAAAAAAAAABAg
	AADcAAAAAAAAABEgAAAQAQAAAAAAABIgAADwAAAAAAAAABMgAAAAAQAAAAAAACAgAAA8
	AQAAAAAAADAgAABoAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/private/tmp/tobias_weber_-_Rescue_Me_(Instrumental).mp3</key>
	<data>
	Ym9va2wCAAAAAAQQMAAAANuQLAoVlLOvUAyjTI8ijFLC+9NlVBQwUJBG+Worb9j/jAEA
	AAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0ZQADAAAAAQEAAHRtcAArAAAAAQEAAHRv
	Ymlhc193ZWJlcl8tX1Jlc2N1ZV9NZV8oSW5zdHJ1bWVudGFsKS5tcDMADAAAAAEGAAAQ
	AAAAIAAAACwAAAAIAAAABAMAADynkwMAAAAACAAAAAQDAACI+pMDAAAAAAgAAAAEAwAA
	jnPhAwAAAAAMAAAAAQYAAHQAAACEAAAAlAAAAAgAAAAABAAAQcO/JhrnkzsYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1h
	Y2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHCP6eYxKtBJAAAAAEBAAA2
	RDBFNkQ4Mi0yNUVGLTRCNzgtQkJGQS1EM0QzREY5MTg4MUEYAAAAAQIAAIEAAAABAAAA
	7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAA
	AA0AAAAEEAAAYAAAAAAAAAAFEAAApAAAAAAAAAAQEAAAyAAAAAAAAABAEAAAuAAAAAAA
	AAACIAAAeAEAAAAAAAAFIAAA6AAAAAAAAAAQIAAA+AAAAAAAAAARIAAALAEAAAAAAAAS
	IAAADAEAAAAAAAATIAAAHAEAAAAAAAAgIAAAWAEAAAAAAAAwIAAAhAEAAAAAAAAQ0AAA
	BAAAAAAAAAA=
	</data>
</dict>
</plist>
